@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

